<div class="row">
    <div class="col-md-3" *ngFor="let movie of movies">
        <div class="card" style="background-image: url('/assets/images/image-default.jpg')">
            <!--<img class="card-img-top" src="assets/images/image-default.jpg" alt="Card image cap">-->
            <div class="card-body d-flex flex-column justify-content-end pb-0">
                <div class="card-title mb-0">{{movie.nombre}}</div>
                <p>Duración: {{movie.duracionmin}} minutos</p>
            </div>
        </div>
    </div>
</div>