.card {
    margin: 3px;
    transition: all linear .2s;
    cursor: pointer;
    background-color: #222222;
    border: 1px solid lightgray;
    color: white;
    background-size: cover;
    min-height: 25vh;
    border-radius: inherit !important;
}
.card:hover {
    transition-delay: .5s;
    transform: scale(1.2);
    z-index: 10;
    box-shadow: inset 0px -40px 120px 31px #000000;
}

.row {
}
.col-md-3 {
    padding: 0;
}

.card:hover .favorite-icon {
    transition-delay: .5s;
    visibility: visible;
}
.favorite-icon {
    transition: .3s all;
    visibility: hidden;
    z-index: 50;
}
.favorite-icon:hover {
    color: crimson;
    transform: scale(1.3);
}
.favorite-icon.selected {
    visibility: visible;
    color: crimson;
}